.img {
    display: block;
  }
  
  .img--logo {
    width: 100px;
    height: 80px;
  }
  
  .img--product{
    width: 256px;
    height:auto;
    border-radius: 2rem;
  }
  .img--hero {
    width: 512px;
    height: auto;
  }