:root {
    --primary-max-width: 512px;
    --primary-spacing: 1.5rem;
    --primary-border-radius: 1rem;
    --primary-main-color: #0062be;
    --primary-background-color: white;
    --primary-text-color:rgb(28,28,27);
    --secondary-text-color: #777;
    --white-color: white;
    --primary-shadow-color: rgba(0, 0, 0, 0.5);
    --primary-font-family: 'Neutra2Text-Demi', sans-serif;
  }
  
  @media (min-width: 768px) {
    :root {
      --primary-max-width: 1024px;
      --primary-spacing: 2rem;
    }
  }